<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<style type="text/css">

</style>
</head>

<body lang=ZH-CN link=blue vlink=purple style='text-justify-trim:punctuation'>
<div>
	<p class=MsoNormal><span style='font-family:宋体'>此信由</span><span lang=EN-US>xxx业务管理</span><span
	style='font-family:宋体'>系统发出，请勿直接回复，谢谢。</span></p>
	<p class=MsoNormal><span lang=EN-US>----------------------------------------------------------------------</span></p>
	<p class=MsoNormal></p>
	<p class=MsoNormal><span style='font-family:宋体'>${titleMessage}</span><p/>
	<table border="1" style="width: 80%;">
		<thead>
			<tr style="background-color: #efefef;">
				<th width="20%" style="text-align:center;">项目名称</th>
				<th width="20%" style="text-align:center;">项目编号</th>
				<th width="30%" style="text-align:center;">融资人</th>
				<th width="15%" style="text-align:center;">当期还款金额(元)</th>
				<th width="5%" style="text-align:center;">是否直融</th>
				<th width="10%" style="text-align:center;">应还款日</th>
			</tr>
		</thead>
		<tbody>
			 <tr style="background-color: #efefef;">
				<td><div style="TEXT-ALIGN:center;word-wrap:break-word;white-space:normal;"class="datagrid-cell">${overdueApply.prjName}</div></td>
				<td><div style="TEXT-ALIGN:center;word-wrap:break-word;white-space:normal;"class="datagrid-cell">${overdueApply.prjNo}</div></td>
				<td><div style="TEXT-ALIGN:left;word-wrap:break-word;white-space:normal;"class="datagrid-cell">${overdueApply.borrowerName}</div></td>
				<td><div style="TEXT-ALIGN:right;word-wrap:break-word;white-space:normal;"class="datagrid-cell">${overdueApply.curRepayMoney/100}</div></td>
				<td><div style="TEXT-ALIGN:center;word-wrap:break-word;white-space:normal;"class="datagrid-cell"><#if overdueApply.prjType == 3 || overdueApply.prjType == 4>是<#else>否</#if></div></td>
				<td><div style="TEXT-ALIGN:center;word-wrap:break-word;white-space:normal;"class="datagrid-cell">${overdueApply.repayDate?string("yyyy-MM-dd")}</div></td>
			</tr>
		</tbody>
	</table>
</div>
<p class=MsoNormal><span lang=EN-US>----------------------------------------------------------------------</span></p>
<p class=MsoNormal><span style='font-family:宋体'>浙江某某集团控股有限公司</span><p/>
<p class=MsoNormal><span style='font-family:宋体'>xx区xx产业园5#8F（）</span><p/>
<p class=MsoNormal><span style='font-family:宋体'>邮编：310020</span><p/>
<p class=MsoNormal><span style='font-family:宋体'>电话：+86-571- 81968322</span><p/>
<p class=MsoNormal><span style='font-family:宋体'>传真：+86-571-89939766</span><p/>
<p class=MsoNormal><span style='font-family:宋体'>E-mail： ubsp@upg.cn</span><p/>
</body>
</html>